

# Usage: pip install -r requirements.txt

bitsandbytes==0.41.0
decord==0.6.0
deepspeed==0.14.0
editdistance==0.8.1
einops==0.7.0
fastapi==0.110.0
fire==0.6.0
gradio==4.22.0
huggingface_hub==0.21.4
matplotlib==3.8.3
mplsoccer==1.2.4
numpy==1.26.4
openai==0.28.0
packaging==24.0
pandas==2.2.1
peft==0.4.0
Pillow==10.2.0
pycocoevalcap==1.2
ray==2.9.3
Requests==2.31.0
scikit_learn==1.2.2
shortuuid==1.0.13
tensor_parallel==2.0.0
tiktoken==0.5.2
timm==0.6.13
torch==2.0.1
tqdm==4.66.2
transformers==4.37.0
transformers_stream_generator==0.0.5
uvicorn==0.29.0
xformers==0.0.25
